<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <form onsubmit="signup(event)" method="post">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="your name here" value="">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="enter email" value="">
        <label for="password">Password</label>
        <input type="password" name="password" id="password" value="">
        <button type="submit" id="submit">Sign Up</button>
        <p>Existing User?<a href="signin.html">Login</a></p>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="/views/expensetracker.js">
    </script>
</body>
</html>